{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block title %}

<title> {{article.title}}</title>

{% endblock title %}

{% block content %}
    <h1 class="text-muted text-center mt-5">{{article.title}} </h1>
    
    <div class="">
    <div class="text-center">
        <span class="mr-3"><i class="fa fa-clock-o mr-2" aria-hidden="true"></i> {{article.published_on|naturaltime}}
        </span>
        <span  class="mr-3"><i class="fa fa-pencil" aria-hidden="true"></i> {{article.writer}}</span>
        <span  class="mr-3"><i class="fa fa-anchor" aria-hidden="true"></i> {{article.genre|title}}</span>
        <div class="image my-5">
            {% if article.title_image %}
            <img src="{{article.title_image.url}}" alt="">
            {% endif %}
            </div>
        </div>

        <div class="content mx-auto" style="max-width: 800px;">
        
        {{article.body|safe}}
        </div>
        
    </div>
    


{% endblock content %}