{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Home</title>
{% endblock title %}

{% block content %}


<div class="row">
    {% for article in articles %}

    <div class="article mt-5 col-md-8">
        <h2 class="mb-2"><a href="{% url 'each_article' article.slug %}">{{article.title}}</a> </h2>
        <p id="blog-{{article.id}}">{{article.body}}</p><button onclick=show({{article.id}})>more</button>
        <hr color="aqua">
    </div>

    {% endfor %}
</div>
<script>

const paras = document.querySelectorAll('.article p');
let minText = 140
paras.forEach(para => {
    para.textContent = para.textContent.slice(0, 140)
})

const show = (id) => {
    let para = document.querySelector('#blog-{{article.id}}')
    console.log(id)
    if (minText == 140){
        para.textContent = para.textContent.slice(0, )
    }
}


</script>



{% endblock content %}